{% extends 'base.html.twig' %}
{% block body %}

    <video autoplay muted loop id="background-video" >
        <source src="{{ imagePrincipale }}" type="video/mp4">
    </video>

    <div class="accueil">
        <form method="get" action="{{ path('home') }}">
            <label for="personId">Choisir une personne :</label>

            <select name="personId" id="personId" style="color: {{ couleurTexteNavigation }};">
                {% for personne in personnes %}
                    <option value="{{ personne.id }}"
                        {% if selectedPerson.id == personne.id %}selected{% endif %}>
                        {{ personne.prenom }} {{ personne.nom }}
                    </option>
                {% endfor %}
            </select>

            <br>
            <button type="submit" class="petit_bouton" style="background-color: {{ couleurNavigation }}; color: {{ couleurTexteNavigation }};">Afficher</button>
        </form>

        <h2 style="color: {{ couleurTexteNavigation }};">{{ metier }}</h2>

        <a href="#partie1"
           class="bas-btn"
           style="border: 3px solid {{ couleurNavigation }}; --arrow-color: {{ couleurNavigation }};">
        </a>
    </div>

    <div class="container" style="background-color: {{ couleurMotivationFooter }}; color: {{ couleurTexteMotivationFooter }};">
        <div id="partie1"></div>

        <header>
            <img src="{{ photo }}" alt="portrait" class="photoProfil" style="border: 2px solid {{ couleurNavigation }};">
            <div>
                <h1>Motivation et présentation</h1>
                <p id="motivation">{{ description|nl2br }}</p>
            </div>
        </header>

        <h2>Centre d'intérêt personnel :</h2>

        <section class="contact">

            {% set textes = centreInteretTexte|split(';') %}

            {% for i, item in centreInterets %}
                <div class="imageTaille">
                    <div class="cercle" style="border: 2px solid {{ couleurNavigation }};">
                        <img src="{{ item.image }}" alt="Centre d’intérêt">
                    </div>

                    {% if textes[i] is defined %}
                        <h3>{{ textes[i] }}</h3>
                    {% endif %}
                </div>
            {% endfor %}

        </section>

    </div>
    <section id="entreprise">
        <h1>Expérience :</h1>

        
        {% set noms = nomEntreprise|split(';') %}
        {% set postes = titrePoste|split(';') %}
        {% set descriptions = descriptionEntreprise|split(';') %}
        {% set liens = lienSite|split(';') %}

        {% for i, img in imagesPro %}
            <div class="entrepriseGénéral">

                {# Image gauche si index pair #}
                {% if i is even %}
                    <img class="logo logo-left" src="{{ imagesPro[i] }}" alt="logo entreprise">
                {% endif %}

                <div>
                    <h3>{{ postes[i] }}</h3>
                    <ul>
                        {% for line in descriptions[i]|split('\n') %}
                            <li>{{ line }}</li>
                        {% endfor %}
                    </ul>
                    <a href="{{ liens[i] }}">Site de l'entreprise</a>
                </div>

                {# Image droite si index impair #}
                {% if i is odd %}
                    <img class="logo logo-right" src="{{ imagesPro[i] }}" alt="logo entreprise">
                {% endif %}

            </div>

            {% if not loop.last %}
                <div class="separateur" style="border: 3px solid {{ couleurNavigation }};"></div>
            {% endif %}
        {% endfor %}

    </section>


    <section id="competence">
        <h1>Compétences :</h1>

        <div>
            <div class="espace2">
                <div>
                    <h3>Grille E5</h3>

                    {% if grille %}
                        <iframe class="pdf-frame"
                                src="data:application/pdf;base64,{{ grille }}"
                                style="border: none;"
                                title="grille E5">
                        </iframe>
                    {% else %}
                        <p>Aucun document disponible.</p>
                    {% endif %}
                </div>
                <div class="pdf-list-Comp">
                <h3>Document des projets E5</h3>
                    {% if GrouppdfComp %}
                        {% for doc in GrouppdfComp %}
                            <div class="pdf-preview">
                                <a href="{{ doc.file }}" target="_blank" download="document.pdf" class="pdf-link">
                                    📄 document ligne {{ loop.index }}
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="competence1">
            {% for logo in Grouplogo %}
                <img alt="logo compétence" class="logo3" src="{{ logo.image }}">
            {% endfor %}
        </div>
    </section>


    <section id="projet">
        <h1>Mes projets :</h1>

        <div class="pdf">
            {% for doc in Grouppdf %}
                <div class="espace">
                    <h3>{{ doc.titre }}</h3>
                    <iframe class="pdf-frame" src="{{ doc.file }}" style="border: none;" title="document projet E6"></iframe>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
