{% extends 'base.html.twig' %}

{% block body %}
    
    <video autoplay muted loop id="background-video">
        <source src="{{ imagePrincipale }}" type="video/mp4">
        Votre navigateur ne supporte pas la vidéo HTML5.
    </video>

    <div class = "accueil">
        <h3><span id="nom" data-fulltext="{{ prenom }} {{ nom }}"></span></h3>
        <h2>{{ metier }}</h2>  
        <a href="#partie1" class="bas-btn"></a>
    </div>
    
    <div class="container" style="background-color: {{ couleurMotivationFooter }}; color: {{ couleurTexteMotivationFooter }};">
    <div id="partie1"></div>
        <header>
            <img src="{{ asset('img/pp.jpg') }}" alt="Photo de profil" class="photoProfil">
            <div>
                <h1>Motivation et présentation </h1>
                <p id="motivation">{{ description|nl2br }}</p>
            </div>
        </header>
        <h2>Centre d'intérêt personnel :</h2>
        <section class="contact">
            {% set ordre = ordrePerso|split(';') %}
            {% set interets = centreInterets %}

            {% for pos in ordre %}
                {% set i = pos|trim - 1 %} {# -1 car tableau commence à 0 #}

                <div class="imageTaille">
                    <div class="cercle">
                        <img src="{{ asset('uploads/' ~ interets[i].image) }}" alt="Centre d’intérêt">
                    </div>
                    <h3>{{ interets[i].texte }}</h3>
                </div>
            {% endfor %}

        </section>
    </div>

    <section id="entreprise">
            <h1>Expérience :</h1>
            {% set ordre = ordrepro|split(';') %}
            {% set noms = nomEntreprise|split(';') %}
            {% set postes = titrePoste|split(';') %}
            {% set descriptions = descriptionEntreprise1|split(';') %}
            {% set liens = lienSite|split(';') %}
            {% set logos = Grouplogo %}

            {% for pos in ordre %}
                {% set i = pos|trim - 1 %} {# -1 car ton ordre est 1-based #}

                <div class="entrepriseGénéral">
                    {% if i is even %}
                        <img class="logo logo-left" src="{{ asset('uploads/' ~ logos[i].image) }}">
                    {% endif %}

                    <div>
                        <ul>
                            <h3>{{ postes[i] }}</h3>
                            {% for line in descriptions[i]|split('\n') %}
                                <li>{{ line }}</li>
                            {% endfor %}
                        </ul>
                        <a class="lienEntreprise{{ i+1 }}" href="{{ liens[i] }}">Site de l'entreprise</a>
                    </div>

                    {% if i is odd %}
                        <img class="logo logo-right" src="{{ asset('uploads/' ~ logos[i].image) }}">
                    {% endif %}
                </div>

                {% if not loop.last %}
                    <div class="separateur" style="background-color: {{ couleurNavigation }};"></div>
                {% endif %}
            {% endfor %}

        </section>

        <section id="competence">
            <h1>Compétences :</h1>
            <div class="competence1">
                {% if GrouplogoC1 %}
                    {% for logo in GrouplogoC1 %}
                        <img alt="logo compétence ligne 1" class="logo3" src="{{ asset('uploads/' ~ logo.image) }}">
                    {% endfor %}
                {% endif %}
            </div>

            <div class="competence2">
                {% if GrouplogoC2 %}
                    {% for logo in GrouplogoC2 %}
                        <img alt="logo compétence ligne 2" class="logo3" src="{{ asset('uploads/' ~ logo.image) }}">
                    {% endfor %}
                {% endif %}
            </div>

        </section>
        <section id="projet">
            <h1>Mes projets :</h1>
            <div class="pdf">
                {% for doc in Grouppdf %}
                    <div class="espace">
                        <h3>{{ doc.titre }}</h3>
                        <iframe class="pdf-frame" src="{{ asset('uploads/' ~ doc.file) }}" style="border: none;"></iframe>
                    </div>
                {% endfor %}
            </div>

        </section>
{% endblock %}

