{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon Portfolio{% endblock %}

{% block body %}
    

    <video autoplay muted loop id="background-video">
        <source src="https://cdn.pixabay.com/video/2023/11/07/188288-882243044_large.mp4" type="video/mp4">
        Votre navigateur ne supporte pas la vidéo HTML5.
    </video>

    <div class = "accueil">
        <h1 id="nom"><span>Bonhomme Amélie</span></h1>
        <h2>Développeuse Full-Stack</h2>
        <a href="#partie1" class="bas-btn"></a>
    </div>
    
    <div class="container">
    <div id="partie1"></div>
        <header>
            <img src="{{ asset('img/pp.jpg') }}" alt="Photo de profil" class="photoProfil">
            <div>
                <h1>Motivation et présentation </h1>
                <p id ="motivation">Jeune développeuse junior de 19 ans, je désire avant tout me nourrir de l’expérience des autres et acquérir de nouvelles compétences. J’ai choisi l’alternance pour allier la prédominance théorique des cours à la concrétisation pratique du travail en entreprise. Mon objectif à terme est de découvrir un maximum de technologie dans le but de trouver celle qui me parle le mieux.</p>
                <p id ="motivation">Acutellement sur ma deuxième année de BTS SIO (Service Informatique au Organision) option SLAM et en alternance avec l'entreprise Daher depuis maintenant 1 ans.</p>
            </div>
        </header>
        <h2>Centre d'intérêt personnel :</h2>
        <section class="contact">
            <div class="imageTaille">
                <div class="cercle"><img src="{{ asset('img/cheval_saut.jpeg') }}" alt="Photo de profil"></div>
                <h3>Equitation</h3>
            </div>
            <div class="imageTaille">
                <div class="cercle"><img src="{{ asset('img/nourriture.jpg') }}" alt="Photo de profil"></div>
                <h3>Découverte culinaire</h3>
            </div>
            <div class="imageTaille">
                <div class="cercle"><img src="{{ asset('img/ski_cauteret.jpg') }}" alt="Photo de profil"></div>
                <h3>Activité sportive</h3>
            </div>
            <div class="imageTaille">
                <div class="cercle"><img src="{{ asset('img/voyage_londre.jpg') }}" alt="Photo de profil"></div>
                <h3>Découverte du monde</h3>
            </div>
        </section>
    </div>

    <section id="entreprise">
            <h1>Expérience :</h1>
            <div class = "entreprise1">
                <img class = "logo1"src = "https://specialmissionaircraft.daher.com/wp-content/uploads/2021/07/Daher-white-bg-1024x270.png">
                <div>
                    <ul>
                    <h3>Alternance au siens du groupe Daher dans la branche innovation interne (2 ans) → Assistante Data Analyste</h3>
                        <li>Du 01/09/2024 au 20/08/2026</li>
                        <li>Réalisation de diverse API et automatisation sur l'environement microsoft (PowerApps, PowerAutomate, Script Office, Excel, Power Point avec VBA)</li>
                        <li>Réalisation de diverse API sur l'environement google (google sheet, AppScript, AppSheet, glide)</li>
                        <li>Travail réaliser en autonomie avec le demandeur, gestion du temps et de la capacités de développemetn de la demande.</li>
                        
                    </ul>
                    <a class="lienEntreprise" href="https://www.daher.com/">Site de l'entreprise</a>
                </div>
            </div>
            <div class="separateur"></div>
            <div class = "entreprise2">
                <div>    
                    <ul>
                    <h3>Stage réaliser dans le cadre de mon bac pro SN (1 mois) → Stagière développeuse web</h3>
                        <li>Du 15/01/2024 au 09/02/2024</li>
                        <li>Création d'une signature mail en HTML</li>
                        <li>Création de visuel sur Figma</li>
                        <li>Création de communication sur Canva</li>
                        <li>Initiation à WordPress</li>
                        
                    </ul>
                    <a class="lienEntreprise2" href="https://beproject.fr/">Site de l'entreprise</a>
                </div>
                <img class = "logo2"src = "https://beproject.fr/wp-content/uploads/thegem/logos/logo_d8de66a5adf7eae8cc0118763ae1075e_1x.png">
            </div>
            <div class="separateur"></div>
            <div class = "entreprise1">
                <img class = "logo1"src = "https://www.sireagroup.com/wp-content/uploads/2021/12/logo-groupe-syselec.png">
                <div>
                    <ul>
                    <h3>CDD de 1 mois pendant les vacances et 2 stages de 1 mois lors de mon bac pro SN → Opératrice de production</h3>
                        <li>Stage du 27/03/2023 au 28/04/2023 et 25/09/2023 au 27/10/2023 / CDD du 31/07/2023 au 01/09/2023</li>
                        <li>Implantation de composants électronique à la main</li>
                        <li>Programmation et tests de fonctionnement</li>
                        <li>Maintenance des appareils électroniques</li>
                        <li>Détection d'erreurs en service après-vente (SAV)</li>
                        <li>Vérification des différentes brasures</li>
                        <li>Observation de la gestion des achats</li>
                        
                    </ul>
                    <a class="lienEntreprise" href="https://groupesyselec.com/">Site de l'entreprise</a>
                </div>
            </div>
            
        </section>
        <section id="competence">
            <h1>Compétences :</h1>
            <div class = "competence1">
                <img alt ="logo PowerApps" class = "logo3"src = "https://cdn.prod.website-files.com/604a3ad5df4bbcc3722cc5e8/671265f5059c059c67984e1a_64f1f1c97ae800d0dc7f173f_Power%2520app%2520logo.png">
                <img alt ="logo PowerAutomate" class = "logo3"src = "https://www.eskape.fr/wp-content/uploads/2025/04/microsoft_power_automate_logo.png">
                <img alt ="logo AppSheet" class = "logo3"src = "https://wp.logos-download.com/wp-content/uploads/2021/01/AppSheet_Logo.png?dl">
                <img alt ="logo AppScript" class = "logo3"src = "https://thierryvanoffe.com/wp-content/uploads/2024/01/google-apps-script_logo.png">
                <img alt ="logo glide" class = "logo3"src = "https://cdn.hostadvice.com/2025/09/Glide-logo.png">
                <img alt ="logo symfony" class = "logo3"src = "https://symfony.com/logos/symfony_black_02.png">
                <img alt ="logo codeIgniter" class = "logo3"src = "https://cdn.worldvectorlogo.com/logos/codeigniter.svg">
                
            </div>
            <div class = "competence2"> 
                <img alt ="logo php" class = "logo3"src = "https://pngimg.com/d/php_PNG35.png">
                <img alt ="logo python" class = "logo3"src = "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/1200px-Python_logo_and_wordmark.svg.png">
                <img alt ="logo sql" class = "logo3"src = "https://www.fast2.tech/images/connectors/sql-logo.webp">
                <img alt ="logo html css javascript" class = "logo3"src = "https://www.freepnglogos.com/uploads/javascript-png/logo-html5-js-css3-png-transparent-logo-4.png">
                <img alt ="logo django" class = "logo3"src = "https://www.djangoproject.com/m/img/logos/django-logo-negative.png">
                <img alt ="logo VBA" class = "logo3"src = "https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Microsoft_Visual_Basic_for_Applications_logo.svg/1200px-Microsoft_Visual_Basic_for_Applications_logo.svg.png">
                <img alt ="logo typescript" class = "logo3"src = "https://user-images.githubusercontent.com/12243763/33518868-6e2595c4-d76a-11e7-8260-31b4e8110c93.png">
            </div>
        </section>
        <section id="projet">
            <h1>Mes projets :</h1>
            <div class="pdf">
                <div class="espace">
                    <h3>Création du porte folio</h3>
                    <iframe class ="pdf1" src="PDF/Cahier_des_charges_portefolio.pdf" width="100%" height="100%" style="border: none;"></iframe>
                </div>
                <div class="espace">
                    <h3>Création d'une web app de gestion de stage</h3>
                    <iframe  class ="pdf2" src="PDF/BTS SIO – Projet Spécial - Django.pdf" width="100%" height="100%" style="border: none;"></iframe>
                </div>
            </div>
        </section>
{% endblock %}

