{% extends 'base.html.twig' %}

{% block body %}
    
    <video autoplay muted loop id="background-video">
        <source src="{{ imagePrincipale }}" type="video/mp4">
        Votre navigateur ne supporte pas la vidéo HTML5.
    </video>

    <div class = "accueil">
        <h3><span id="nom" data-fulltext="{{ prenom }} {{ nom }}"></span></h3>
        <h2>{{ metier }}</h2>  
        <a href="#partie1" class="bas-btn"></a>
    </div>
    
    <div class="container" style="background-color: {{ couleurMotivationFooter }}; color: {{ couleurTexteMotivationFooter }};">
    <div id="partie1"></div>
        <header>
            <img src="{{ asset('img/pp.jpg') }}" alt="Photo de profil" class="photoProfil">
            <div>
                <h1>Motivation et présentation </h1>
                <p id="motivation">{{ description|nl2br }}</p>
            </div>
        </header>
        <h2>Centre d'intérêt personnel :</h2>
        <section class="contact">
            {% set ordre = ordrePerso|split(';') %}
            {% set interets = centreInterets %}

            {% for pos in ordre %}
                {% set i = pos|trim - 1 %} {# -1 car tableau commence à 0 #}

                <div class="imageTaille">
                    <div class="cercle">
                        <img src="{{ asset('uploads/' ~ interets[i].image) }}" alt="Centre d’intérêt">
                    </div>
                    <h3>{{ interets[i].texte }}</h3>
                </div>
            {% endfor %}

        </section>
    </div>

    <section id="entreprise">
            <h1>Expérience :</h1>
            {% set ordre = ordrepro|split(';') %}
            {% set noms = nomEntreprise|split(';') %}
            {% set postes = titrePoste|split(';') %}
            {% set descriptions = descriptionEntreprise1|split(';') %}
            {% set liens = lienSite|split(';') %}
            {% set logos = Grouplogo %}

            {% for pos in ordre %}
                {% set i = pos|trim - 1 %} {# -1 car ton ordre est 1-based #}

                <div class="entrepriseGénéral">
                    {% if i is even %}
                        <img class="logo logo-left" src="{{ asset('uploads/' ~ logos[i].image) }}">
                    {% endif %}

                    <div>
                        <ul>
                            <h3>{{ postes[i] }}</h3>
                            {% for line in descriptions[i]|split('\n') %}
                                <li>{{ line }}</li>
                            {% endfor %}
                        </ul>
                        <a class="lienEntreprise{{ i+1 }}" href="{{ liens[i] }}">Site de l'entreprise</a>
                    </div>

                    {% if i is odd %}
                        <img class="logo logo-right" src="{{ asset('uploads/' ~ logos[i].image) }}">
                    {% endif %}
                </div>

                {% if not loop.last %}
                    <div class="separateur" style="background-color: {{ couleurNavigation }};"></div>
                {% endif %}
            {% endfor %}

        </section>

        <section id="competence">
            <h1>Compétences :</h1>
            <div class = "competence1">
                <img alt ="logo PowerApps" class = "logo3"src = "https://cdn.prod.website-files.com/604a3ad5df4bbcc3722cc5e8/671265f5059c059c67984e1a_64f1f1c97ae800d0dc7f173f_Power%2520app%2520logo.png">
                <img alt ="logo PowerAutomate" class = "logo3"src = "https://www.eskape.fr/wp-content/uploads/2025/04/microsoft_power_automate_logo.png">
                <img alt ="logo AppSheet" class = "logo3"src = "https://wp.logos-download.com/wp-content/uploads/2021/01/AppSheet_Logo.png?dl">
                <img alt ="logo AppScript" class = "logo3"src = "https://thierryvanoffe.com/wp-content/uploads/2024/01/google-apps-script_logo.png">
                <img alt ="logo glide" class = "logo3"src = "https://cdn.hostadvice.com/2025/09/Glide-logo.png">
                <img alt ="logo symfony" class = "logo3"src = "https://symfony.com/logos/symfony_black_02.png">
                <img alt ="logo codeIgniter" class = "logo3"src = "https://cdn.worldvectorlogo.com/logos/codeigniter.svg">
                
            </div>
            <div class = "competence2"> 
                <img alt ="logo php" class = "logo3"src = "https://pngimg.com/d/php_PNG35.png">
                <img alt ="logo python" class = "logo3"src = "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/1200px-Python_logo_and_wordmark.svg.png">
                <img alt ="logo sql" class = "logo3"src = "https://www.fast2.tech/images/connectors/sql-logo.webp">
                <img alt ="logo html css javascript" class = "logo3"src = "https://www.freepnglogos.com/uploads/javascript-png/logo-html5-js-css3-png-transparent-logo-4.png">
                <img alt ="logo django" class = "logo3"src = "https://www.djangoproject.com/m/img/logos/django-logo-negative.png">
                <img alt ="logo VBA" class = "logo3"src = "https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Microsoft_Visual_Basic_for_Applications_logo.svg/1200px-Microsoft_Visual_Basic_for_Applications_logo.svg.png">
                <img alt ="logo typescript" class = "logo3"src = "https://user-images.githubusercontent.com/12243763/33518868-6e2595c4-d76a-11e7-8260-31b4e8110c93.png">
            </div>
        </section>
        <section id="projet">
            <h1>Mes projets :</h1>
            <div class="pdf">
                <div class="espace">
                    <h3>Création du porte folio</h3>
                    <iframe class ="pdf1" src="PDF/Cahier_des_charges_portefolio.pdf" width="100%" height="100%" style="border: none;"></iframe>
                </div>
                <div class="espace">
                    <h3>Création d'une web app de gestion de stage</h3>
                    <iframe  class ="pdf2" src="PDF/BTS SIO – Projet Spécial - Django.pdf" width="100%" height="100%" style="border: none;"></iframe>
                </div>
            </div>
        </section>
{% endblock %}

