{% extends 'base.html.twig' %}

{% block title %}Gestion Admin{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/zoom.js') }}"></script>
{% endblock %}

{% block body %}
<section id="Gestion">
    <section id="designe" class="adminteneur" style="background-color: {{ couleurMotivationFooter }}; color: {{ couleurTexteMotivationFooter }};">
        <h2>Modifier le Design :</h2>

        {{ form_start(designForm) }}
        <div class ="Form">
            <div class="FormText1">
                <p>{{ form_label(designForm.imagePrincipale, 'Image principale :') }}</p>
                <p>{{ form_label(designForm.couleurFond, 'Couleur de fond :') }}</p>
                <p>{{ form_label(designForm.couleurTexteGeneral, 'Texte général :') }}</p>
                <p>{{ form_label(designForm.couleurMotivationFooter, 'Motivation footer :') }}</p>
                <p>{{ form_label(designForm.couleurTexteMotivationFooter, 'Texte motivation footer :') }}</p>
                <p>{{ form_label(designForm.couleurNavigation, 'Couleur navigation :') }}</p>
                <p>{{ form_label(designForm.couleurTexteNavigation, 'Texte navigation :') }}</p>
            </div>
            <div class="FormInput">
                <p>{{ form_widget(designForm.imagePrincipale, {'attr': {'class': 'form-input'}}) }}</p>
                <p>{{ form_widget(designForm.couleurFond, {'attr': {'class': 'form-input'}}) }}</p>
                <p>{{ form_widget(designForm.couleurTexteGeneral, {'attr': {'class': 'form-input'}}) }}</p>
                <p>{{ form_widget(designForm.couleurMotivationFooter, {'attr': {'class': 'form-input'}}) }}</p>
                <p>{{ form_widget(designForm.couleurTexteMotivationFooter, {'attr': {'class': 'form-input'}}) }}</p>
                <p>{{ form_widget(designForm.couleurNavigation, {'attr': {'class': 'form-input'}}) }}</p>
                <p>{{ form_widget(designForm.couleurTexteNavigation, {'attr': {'class': 'form-input'}}) }}</p>
            </div>
        </div>
        <button type="submit" class="form-button boutonform" style="background-color: {{ couleurNavigation }};">Enregistrer</button>
        {{ form_end(designForm) }}

        <h2>Information personelle :</h2>

        {{ form_start(IPForm) }}
        <div class ="Form">
            <div class="FormText2">
                <p>{{ form_label(IPForm.nom, 'nom :') }}</p>
                <p>{{ form_label(IPForm.prenom, 'prenom :') }}</p>
                <p class = "description">{{ form_label(IPForm.description, 'description :') }}</p>
                <p>{{ form_label(IPForm.mail, 'mail :') }}</p>
                <p>{{ form_label(IPForm.telephone, 'telephone :') }}</p>
                <p class = "localisationMap">{{ form_label(IPForm.localisationMap, 'localisationMap :') }}</p>
                <p>{{ form_label(IPForm.linkedin, 'linkedin :') }}</p>
                <p>{{ form_start(IPForm, {'attr': {'enctype': 'multipart/form-data'}}) }}</p>
                <p class = "centreInteretImg">{{ form_label(IPForm.centreInteretImg, 'centreInteretImg :') }}</p>
                <p>{{ form_label(IPForm.centreInteretTexte, 'centreInteretTexte :') }}</p>
                <p>{{ form_label(IPForm.metier, 'metier :') }}</p>
                <p>{{ form_label(IPForm.infoPersoActif, 'infoPersoActif :') }}</p>
                
            </div>
            <div class="FormInput">
                <p>{{ form_widget(IPForm.nom, {'attr': {'class': 'form-input'}}) }}</p>
                <p>{{ form_widget(IPForm.prenom, {'attr': {'class': 'form-input'}}) }}</p>
                <p>{{ form_widget(IPForm.description, {'attr': {'class': 'form-input'}}) }}</p>
                <p>{{ form_widget(IPForm.mail, {'attr': {'class': 'form-input'}}) }}</p>
                <p>{{ form_widget(IPForm.telephone, {'attr': {'class': 'form-input'}}) }}</p>
                <p>{{ form_widget(IPForm.localisationMap, {'attr': {'class': 'form-input'}}) }}</p>
                <p>{{ form_widget(IPForm.linkedin, {'attr': {'class': 'form-input'}}) }}</p>
                <p>{{ form_widget(IPForm.centreInteretImg, {'attr': {'class': 'form-input', 'multiple': 'multiple'}}) }}</p>
                <div class="images-centre-interet">
                    {% if centreInteretImg %}
                        {% for image in centreInteretImg %}
                            <img src="{{ asset('uploads/' ~ image) }}" alt="Centre d’intérêt" class="img-centre-interet">
                        {% endfor %}
                    {% endif %}
                </div>
                <p>{{ form_widget(IPForm.centreInteretTexte, {'attr': {'class': 'form-input'}}) }}</p>
                <p>{{ form_widget(IPForm.metier, {'attr': {'class': 'metier'}}) }}</p>
                <p>{{ form_widget(IPForm.infoPersoActif, {'attr': {'class': 'casecoche'}}) }}</p>
                
            </div>
        </div>
        <button type="submit" class="form-button boutonform" style="background-color: {{ couleurNavigation }};">Enregistrer</button>
        {{ form_end(IPForm) }}

        <h2>Competence :</h2>
        <h2>Login :</h2>
        <h2>Projet :</h2>
        <h2>Information professionnelle /activité :</h2>
        <h2>Login :</h2>


    </section>
</section>
{% endblock %}

{% block footer %}{% endblock %}
