{% extends 'base.html.twig' %}

{% block title %}Gestion Admin{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/zoom.js') }}"></script>
{% endblock %}

{% block body %}
<section id="Gestion">
    <section id="designe" class="adminteneur" style="background-color: {{ couleurMotivationFooter }}; color: {{ couleurTexteMotivationFooter }};">
        <h2>Modifier le Design :</h2>

        {{ form_start(designForm) }}
            {% if not isMobile %}
                <div class="Form">
                    <div class="FormText1">
                        <p>{{ form_label(designForm.imagePrincipale, 'Image principale :') }}</p>
                        <p>{{ form_label(designForm.couleurFond, 'Couleur de fond du site :') }}</p>
                        <p>{{ form_label(designForm.couleurTexteGeneral, 'Texte général du site :') }}</p>
                        <p>{{ form_label(designForm.couleurMotivationFooter, 'Couleur fond Motivation/footer :') }}</p>
                        <p>{{ form_label(designForm.couleurTexteMotivationFooter, 'Couleur texte motivation/footer :') }}</p>
                        <p>{{ form_label(designForm.couleurNavigation, 'Couleur barre navigation :') }}</p>
                        <p>{{ form_label(designForm.couleurTexteNavigation, 'Couleur texte barre navigation :') }}</p>
                    </div>

                    <div class="FormInput">
                        <p>{{ form_widget(designForm.imagePrincipale, {'attr': {'class': 'form-input'}}) }}</p>
                        <p>{{ form_widget(designForm.couleurFond, {'attr': {'class': 'form-input'}}) }}</p>
                        <p>{{ form_widget(designForm.couleurTexteGeneral, {'attr': {'class': 'form-input'}}) }}</p>
                        <p>{{ form_widget(designForm.couleurMotivationFooter, {'attr': {'class': 'form-input'}}) }}</p>
                        <p>{{ form_widget(designForm.couleurTexteMotivationFooter, {'attr': {'class': 'form-input'}}) }}</p>
                        <p>{{ form_widget(designForm.couleurNavigation, {'attr': {'class': 'form-input'}}) }}</p>
                        <p>{{ form_widget(designForm.couleurTexteNavigation, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>
                </div>
            {% else %}
                <div class="FormMobile">
                    <div class="form-row">
                        <p>{{ form_label(designForm.imagePrincipale, 'Image principale :') }}</p>
                        <p>{{ form_widget(designForm.imagePrincipale, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(designForm.couleurFond, 'Couleur de fond du site :') }}</p>
                        <p>{{ form_widget(designForm.couleurFond, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(designForm.couleurTexteGeneral, 'Texte général du site :') }}</p>
                        <p>{{ form_widget(designForm.couleurTexteGeneral, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(designForm.couleurMotivationFooter, 'Couleur fond Motivation/footer :') }}</p>
                        <p>{{ form_widget(designForm.couleurMotivationFooter, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(designForm.couleurTexteMotivationFooter, 'Couleur texte motivation/footer :') }}</p>
                        <p>{{ form_widget(designForm.couleurTexteMotivationFooter, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(designForm.couleurNavigation, 'Couleur barre navigation :') }}</p>
                        <p>{{ form_widget(designForm.couleurNavigation, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(designForm.couleurTexteNavigation, 'Couleur texte barre navigation :') }}</p>
                        <p>{{ form_widget(designForm.couleurTexteNavigation, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>
                </div>
            {% endif %}

            <button type="submit" class="form-button boutonform" style="background-color: {{ couleurNavigation }}; color: {{ couleurTexteNavigation }};">
                Enregistrer
            </button>

        {{ form_end(designForm) }}


        <h2>Information personelle :</h2>

        {{ form_start(IPForm) }}
            {% if not isMobile %}
                <div class="Form">
                    <div class="FormText2">
                        <p>{{ form_label(IPForm.nom, 'Nom :') }}</p>
                        <p>{{ form_label(IPForm.prenom, 'Prénom :') }}</p>
                        <p class="Longtexte">{{ form_label(IPForm.description, 'Description :') }}</p>
                        <p>{{ form_label(IPForm.mail, 'Mail :') }}</p>
                        <p>{{ form_label(IPForm.telephone, 'Téléphone :') }}</p>
                        <p class="Petitlongtexte">{{ form_label(IPForm.localisationMap, 'Adresse localisation Google Maps :') }}</p>
                        <p>{{ form_label(IPForm.linkedin, 'Lien LinkedIn :') }}</p>
                        <p class="centreInteretImg">{{ form_label(IPForm.images, 'Images centre d’intérêt (4 max) :') }}</p>
                        <p>{{ form_label(IPForm.centreInteretTexte, 'Texte centre d’intérêt (séparé par des point virgules) :') }}</p>
                        <p>{{ form_label(IPForm.metier, 'Métier :') }}</p>
                        <p class="Petitlongtexte">{{ form_label(IPForm.photo, 'Photo de profil :') }}</p>
                    </div>

                    <div class="FormInput">
                        <p>{{ form_widget(IPForm.nom, {'attr': {'class': 'form-input'}}) }}</p>
                        <p>{{ form_widget(IPForm.prenom, {'attr': {'class': 'form-input'}}) }}</p>
                        <p>{{ form_widget(IPForm.description, {'attr': {'class': 'form-input'}}) }}</p>
                        <p>{{ form_widget(IPForm.mail, {'attr': {'class': 'form-input'}}) }}</p>
                        <p>{{ form_widget(IPForm.telephone, {'attr': {'class': 'form-input'}}) }}</p>
                        <p>{{ form_widget(IPForm.localisationMap, {'attr': {'class': 'form-input'}}) }}</p>
                        <p>{{ form_widget(IPForm.linkedin, {'attr': {'class': 'form-input'}}) }}</p>

                        <p>{{ form_widget(IPForm.images, {
                            'attr': {'class': 'form-input', 'multiple': 'multiple'}
                        }) }}</p>

                        <div class="images-centre-interet">
                            {% if centreInterets %}
                                {% for interet in centreInterets %}
                                    <img src="{{ interet.image }}" alt="Centre d’intérêt" class="img-centre-interet">
                                {% endfor %}
                            {% endif %}
                        </div>

                        <p>{{ form_widget(IPForm.centreInteretTexte, {'attr': {'class': 'form-input'}}) }}</p>
                        <p>{{ form_widget(IPForm.metier, {'attr': {'class': 'metier'}}) }}</p>

                        <p>{{ form_widget(IPForm.photo, {'attr': {'class': 'form-input'}}) }}</p>

                        {% if photo %}
                            <img class="img-centre-interet" src="{{ photo }}" alt="Photo de profil">
                        {% endif %} 
                    </div>
                </div>

            {% else %}

                <div class="FormMobile">

                    <div class="form-row">
                        <p>{{ form_label(IPForm.nom, 'Nom :') }}</p>
                        <p>{{ form_widget(IPForm.nom, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(IPForm.prenom, 'Prénom :') }}</p>
                        <p>{{ form_widget(IPForm.prenom, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(IPForm.description, 'Description :') }}</p>
                        <p>{{ form_widget(IPForm.description, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(IPForm.mail, 'Mail :') }}</p>
                        <p>{{ form_widget(IPForm.mail, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(IPForm.telephone, 'Téléphone :') }}</p>
                        <p>{{ form_widget(IPForm.telephone, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(IPForm.localisationMap, 'Adresse localisation Google Maps :') }}</p>
                        <p>{{ form_widget(IPForm.localisationMap, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(IPForm.linkedin, 'Lien LinkedIn :') }}</p>
                        <p>{{ form_widget(IPForm.linkedin, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(IPForm.images, 'Images centre d’intérêt (4 max) :') }}</p>
                        <p>{{ form_widget(IPForm.images, {
                            'attr': {'class': 'form-input', 'multiple': 'multiple'}
                        }) }}</p>
                    </div>

                    <div class="images-centre-interet">
                        {% if centreInterets %}
                            {% for interet in centreInterets %}
                                <img src="{{ interet.image }}" alt="Centre d’intérêt" class="img-centre-interet">
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(IPForm.centreInteretTexte, 'Texte centre d’intérêt (séparé par des point virgules) :') }}</p>
                        <p>{{ form_widget(IPForm.centreInteretTexte, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(IPForm.metier, 'Métier :') }}</p>
                        <p>{{ form_widget(IPForm.metier, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(IPForm.photo, 'Photo de profil :') }}</p>
                        <p>{{ form_widget(IPForm.photo, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    {% if photo %}
                        <img class="img-centre-interet" src="data:image/jpeg;base64,{{ photo }}" alt="Photo de profil">
                    {% endif %}
                </div>

            {% endif %}
            <button type="submit" class="form-button boutonform" style="background-color: {{ couleurNavigation }}; color: {{ couleurTexteNavigation }};">
                Enregistrer
            </button>
        {{ form_end(IPForm) }}


        <h2>Expérience :</h2>

        {{ form_start(IProForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
            {% if not isMobile %}
                <div class="Form">
                    <div class="FormText2">
                        <p>{{ form_label(IProForm.nomEntreprise, 'Nom entreprise :') }}</p>
                        <p class="Petitlongtexte">{{ form_label(IProForm.titrePoste, 'Titre du poste :') }}</p>
                        <p class="Longtexte">{{ form_label(IProForm.descriptionEntreprise, 'Description entreprise :') }}</p>
                        <p class="Petitlongtexte">{{ form_label(IProForm.lienSite, 'Lien du site :') }}</p>
                        <p class="centreInteretImg">{{ form_label(IProForm.images, 'Logo entreprise :') }}</p>
                    </div>

                    <div class="FormInput">
                        <p>{{ form_widget(IProForm.nomEntreprise, {'attr': {'class': 'form-input'}}) }}</p>
                        <p>{{ form_widget(IProForm.titrePoste, {'attr': {'class': 'form-input'}}) }}</p>
                        <p>{{ form_widget(IProForm.descriptionEntreprise, {'attr': {'class': 'form-input'}}) }}</p>
                        <p>{{ form_widget(IProForm.lienSite, {'attr': {'class': 'form-input'}}) }}</p>

                        <p>{{ form_widget(IProForm.images, {
                            'attr': {'class': 'form-input'}
                        }) }}</p>

                        <div class="images-centre-interet">
                            {% if imagesPro %}
                                {% for interet in imagesPro %}
                                    <img src="{{ interet }}" alt="Logo entreprise" class="img-centre-interet">
                                {% endfor %}
                            {% endif %}
                        </div>


                    </div>
                </div>

            {% else %}

                <div class="FormMobile">

                    <div class="form-row">
                        <p>{{ form_label(IProForm.nomEntreprise, 'Nom entreprise :') }}</p>
                        <p>{{ form_widget(IProForm.nomEntreprise, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(IProForm.titrePoste, 'Titre du poste :') }}</p>
                        <p>{{ form_widget(IProForm.titrePoste, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(IProForm.descriptionEntreprise, 'Description entreprise :') }}</p>
                        <p>{{ form_widget(IProForm.descriptionEntreprise, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(IProForm.lienSite, 'Lien du site :') }}</p>
                        <p>{{ form_widget(IProForm.lienSite, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(IProForm.images, 'Logo entreprise :') }}</p>
                        <p>{{ form_widget(IProForm.images, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="images-centre-interet">
                        {% if Grouplogo %}
                            {% for interet in Grouplogo %}
                                <img src="{{ interet.image }}" alt="Logo entreprise" class="img-centre-interet">
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

            {% endif %}
            <button type="submit" class="form-button boutonform" style="background-color: {{ couleurNavigation }}; color: {{ couleurTexteNavigation }};">
                Enregistrer
            </button>
        {{ form_end(IProForm) }}

        <h2>Compétence :</h2>

        {{ form_start(CompForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
            {% if not isMobile %}
                <div class="Form">
                    <div class="FormText2">
                        <p class="centreInteretImg">
                            {{ form_label(CompForm.images, 'Logos compétences (plusieurs possibles) :') }}
                        </p>
                    </div>

                    <div class="FormInput">
                        <p>{{ form_widget(CompForm.images, {
                            'attr': {'class': 'form-input', 'multiple': 'multiple'}
                        }) }}</p>

                        <div class="images-centre-interet">
                            {% if Grouplogo %}
                                {% for logo in Grouplogo %}
                                    <img src="{{ logo.image }}" alt="Logo compétence" class="img-centre-interet">
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% else %}

                <div class="FormMobile">

                    <div class="form-row">
                        <p>{{ form_label(CompForm.images, 'Logos compétences (plusieurs possibles) :') }}</p>
                        <p>{{ form_widget(CompForm.images, {
                            'attr': {'class': 'form-input', 'multiple': 'multiple'}
                        }) }}</p>
                    </div>

                    <div class="images-centre-interet">
                        {% if Grouplogo %}
                            {% for logo in Grouplogo %}
                                <img src="{{ logo.image }}" alt="Logo compétence" class="img-centre-interet">
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

            {% endif %}
            <button type="submit" class="form-button boutonform" style="background-color: {{ couleurNavigation }}; color: {{ couleurTexteNavigation }};">
                Enregistrer
            </button>
        {{ form_end(CompForm) }}


        <h2>Projet :</h2>

        {{ form_start(ProjetForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
            {% if not isMobile %}
                <div class="Form">
                    <div class="FormText2">
                        <p>{{ form_label(ProjetForm.titreProjet, 'Nom du projet :') }}</p>
                    </div>

                    <div class="FormInput">
                        <p>{{ form_widget(ProjetForm.titreProjet, {'attr': {'class': 'form-input'}}) }}</p>

                        <p>{{ form_widget(ProjetForm.documents, {
                            'attr': {'class': 'form-input', 'multiple': 'multiple'}
                        }) }}</p>

                        <div class="pdf-list">
                            {% if Grouppdf %}
                                {% for doc in Grouppdf %}
                                    <div class="pdf-preview">
                                        <a href="{{ doc.file }}" target="_blank" download="document.pdf" class="pdf-link">
                                            📄 {{ doc.titre }}
                                        </a>

                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% else %}

                <div class="FormMobile">

                    <div class="form-row">
                        <p>{{ form_label(ProjetForm.titreProjet, 'Nom du projet :') }}</p>
                        <p>{{ form_widget(ProjetForm.titreProjet, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(ProjetForm.documents, 'Documents PDF du projet (2 max) :') }}</p>
                        <p>{{ form_widget(ProjetForm.documents, {
                            'attr': {'class': 'form-input', 'multiple': 'multiple'}
                        }) }}</p>
                    </div>

                    <div class="pdf-list">
                        {% if Grouppdf %}
                            {% for doc in Grouppdf %}
                                <div class="pdf-preview">
                                    <a href="{{ doc.file }}" target="_blank" class="pdf-link">
                                        📄 {{ doc.file|split('/')|last }}
                                    </a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

            {% endif %}
            <button type="submit" class="form-button boutonform" style="background-color: {{ couleurNavigation }}; color: {{ couleurTexteNavigation }};">
                Enregistrer
            </button>
        {{ form_end(ProjetForm) }}

        <h1>Login</h1>

        {{ form_start(PAForm) }}
            {% if not isMobile %}
                <div class="Form">
                    <div class="FormText1">
                        <p>{{ form_label(PAForm.login, 'Login :') }}</p>
                        <p>{{ form_label(PAForm.plainPassword, 'Nouveau mot de passe :') }}</p>
                    </div>

                    <div class="FormInput">
                        <p>{{ form_widget(PAForm.login, {'attr': {'class': 'form-input'}}) }}</p>
                        <p>{{ form_widget(PAForm.plainPassword, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>
                </div>
            {% else %}
                <div class="FormMobile">

                    <div class="form-row">
                        <p>{{ form_label(PAForm.login, 'Login :') }}</p>
                        <p>{{ form_widget(PAForm.login, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                    <div class="form-row">
                        <p>{{ form_label(PAForm.plainPassword, 'Nouveau mot de passe :') }}</p>
                        <p>{{ form_widget(PAForm.plainPassword, {'attr': {'class': 'form-input'}}) }}</p>
                    </div>

                </div>
            {% endif %}
            <button type="submit" class="form-button boutonform" style="background-color: {{ couleurNavigation }}; color: {{ couleurTexteNavigation }};">
                Enregistrer
            </button>
        {{ form_end(PAForm) }}

        
        <div class="logout-container">
            <a href="{{ path('logout') }}" class="form-button boutonform" style="background-color: {{ couleurNavigation }}; color: {{ couleurTexteNavigation }};">
                Déconnexion
            </a>
        </div>

    </section>
</section>
{% endblock %}

{% block footer %}{% endblock %}
