{% extends 'base.html.twig' %}

{% block title %}Gestion Admin{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/zoom.js') }}"></script>
{% endblock %}

{% block body %}
    <section id="Gestion">
        <section id="designe" class="adminteneur">
            <h2>Modifier le Design :</h2>
            {{ form_start(form, {'attr': {'class': 'login-form'}}) }}
                <div class="form-group">
                    {{ form_row(form.imagePrincipale) }}
                    {{ form_row(form.couleurFond) }}
                    {{ form_row(form.couleurTexteGeneral) }}
                    {{ form_row(form.couleurMotivationFooter) }}
                    {{ form_row(form.couleurTexteMotivationFooter) }}
                    {{ form_row(form.couleurNavigation) }}
                    {{ form_row(form.couleurTexteNavigation) }}
                </div>
                <button type="submit" class="form-button">Enregistrer</button>
            {{ form_end(form) }}
            <h2>Information personelle :</h2>
            <h2>Competance :</h2>
            <h2>Information professionelle :</h2>
            <h2>Projet :</h2>
            <h2>Information Admin :</h2>
        </section>
            
    </section>
{% endblock %}
{% block footer %}{% endblock %}