{% extends 'base.html.twig' %}

{% block title %}Ma veille{% endblock %}

{% block body %}
    <section id ="video_veille">
    <h1>Veille vidéo (_underscore)</h1>
    <br>
    <div class="videos-grid">
        {% for video in videos|slice(0,4) %}
        <div class="video-card">
            <iframe
            src="https://www.youtube.com/embed/{{ video.id.videoId }}"
            title="{{ video.snippet.title|e('html_attr') }}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
            </iframe>
            <h3>{{ video.snippet.title|raw }}</h3>
            <small>Publiée le {{ video.snippet.publishedAt|date('d/m/Y') }}</small>
        </div>
        {% else %}
        <p>Aucune vidéo à afficher.</p>
        {% endfor %}
    </div>
    <br>
    <h1>Veille article (Hacker News)</h1>
    <br>
    <div class="articles-grid">
    {% for article in articles %}
      <div class="article-card">
        <h3>{{ article.title }}</h3>
        <small>Publiée le {{ article.pubDate|date('d/m/Y H:i') }}</small>
        <p>{{ article.description|raw }}</p>
        <a href="{{ article.link }}" target="_blank">Lire la suite</a>
      </div>
    {% else %}
      <p>Aucun article trouvé.</p>
    {% endfor %}
  </div>
    </section>
{% endblock %}
