<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenu dans mon portefolio{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <script src="{{ asset('js/ecriturePrenom.js') }}"></script>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/detectAdmin.js') }}"></script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body style="background-color: {{ couleurFond }}; color: {{ couleurTexte }};">
        {% block navbar %}
        <nav class="navbar" style="background-color: {{ couleurNavigation }};">
            <ul>
                <li><a style=" color: {{ couleurTexteNavigation }};" href="{{ path('home') }}">Accueil</a></li>
                <li><a style=" color: {{ couleurTexteNavigation }};" href="#partie1">Présentation</a></li>
                <li><a style=" color: {{ couleurTexteNavigation }};" href="#entreprise">Expérience</a></li>
                <li><a style=" color: {{ couleurTexteNavigation }};" href="#competence">Compétences</a></li>
                <li><a style=" color: {{ couleurTexteNavigation }};" href="#projet">Projet</a></li>
                <li><a style=" color: {{ couleurTexteNavigation }};" href="{{ path('veille') }}">Veille technologique</a></li>
                <li><a style=" color: {{ couleurTexteNavigation }};" href="#contact">Contact</a></li>
            </ul>   
        </nav>
        {% endblock %}
        {% block body %}{% endblock %}

        {% block footer %}
        <footer id="contact" style="background-color: {{ couleurMotivationFooter }}; color: {{ couleurTexteMotivationFooter }};">
            <div class="contactener">
                <h1 class = "titrefooter">Contacts :</h1>
                <div class="pdf">
                    <div>
                        <iframe class="mapgg" src="{{localisationMap}}"></iframe>
                    </div>
                    <div class="info">
                        <h3>Linkedin :<a href="{{linkedin}}">Mon profil</a></h3>
                        <h3>Email : <a href="mailto:{{mail}}">{{mail}}</a></h3>
                        <h3>Tel : {{tel}}</h3>
                        <h3>Git : <a href="mailto:amelie@example.com">Liens du dépot (à remplir et renseigner)</a></h3>
                    </div>
                    <div class="info2">
                        <h3>Mention légale :<a href="....">Consulter</a></h3>
                        <h3>Condition d'utilisation :<a href=".....">Consulter</a></h3>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}
    </body>

</html>
